body {
  background-color: #f5f5f5;
}

.header {
  background-color: #3dfdb0;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  text-align: center;
  margin: 0;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#footer img {
  width: 200px;
  opacity: 0.2;
}

/* Específicos para páginas con planillas */

.max-width-input {
  max-width: 300px;
  width: 100%;
}


@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline input,
.form-inline button {
  margin-right: 10px;
}

/* Para formularios */
.form-container {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  padding: 20px;
  border-radius: 10px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
}

.alert-success {
  padding: 20px;
  background-color: #06754c;
  /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/*
<div class=\"alert mx-auto\" style=\"width: 500px\">
                <span class=\"closebtn\" onclick=\"this.parentElement.style.display='none';\">&times;</span>
                Error al subir el archivo del comprobante.
              </div>";
              */